     <!-- price -->
                <div class="col-12 col-md-6 col-lg-4 order-md-2 order-lg-1">
                    <div class="price">
                        <div class="price__item price__item--first"><span>Basic</span> <span>Free</span></div>
                        <div class="price__item"><span><i class="icon ion-ios-checkmark"></i> 7 days</span></div>
                        <div class="price__item"><span><i class="icon ion-ios-checkmark"></i> 720p Resolution</span></div>
                        <div class="price__item price__item--none"><span><i class="icon ion-ios-close"></i> Limited Availability</span></div>
                        <div class="price__item price__item--none"><span><i class="icon ion-ios-close"></i> Desktop Only</span></div>
                        <div class="price__item price__item--none"><span><i class="icon ion-ios-close"></i> Limited Support</span></div>
                        {# <a href="#" class="price__btn">Choose Plan</a> #}
                    </div>
                </div>
                <!-- end price -->