       <!-- price -->
                <div class="col-12 col-md-12 col-lg-4 order-md-1 order-lg-2">
                    <div class="price price--premium">
                        <div class="price__item price__item--first"><span>Premium</span> <span>$34.99 <sub>/ month</sub></span></div>
                        <div class="price__item"><span><i class="icon ion-ios-checkmark"></i> 1 Month</span></div>
                        <div class="price__item"><span><i class="icon ion-ios-checkmark"></i> Full HD</span></div>
                        <div class="price__item"><span><i class="icon ion-ios-checkmark"></i> Lifetime Availability</span></div>
                        <div class="price__item price__item--none"><span><i class="icon ion-ios-close"></i> TV & Desktop</span></div>
                        <div class="price__item price__item--none"><span><i class="icon ion-ios-close"></i> 24/7 Support</span></div>
                        {# <a href="#" class="price__btn">Choose Plan</a> #}
                    </div>
                </div>
                <!-- end price -->