{% for c in categories %}
    {# <li><a href="{{path('videos.by.category', {'category_name': c.name|slugify ,'category_id': c.id})}}">{{c.name}}</a></li> #}
    <li><a href="#">{{c.name}}</a></li>
{% endfor %}



