  <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer__content">
                        <a href="index.html" class="footer__logo">
							<img src="{{asset('img/logos.png')}}" alt="">
						</a>

                        <span class="footer__copyright">© SWIFT, 2021—2023 <br> Address <a href="#">2400 Le Locle</a></span>

                        <nav class="footer__nav">
                            <a href="about.html">About Us</a>
                            <a href="contacts.html">Contacts</a>
                            <a href="privacy.html">Privacy policy</a>
                        </nav>

                        <button class="footer__back" type="button">
							<i class="icon ion-ios-arrow-round-up"></i>
						</button>
                    </div>
                </div>
            </div>
        </div>
    </footer>