{% extends "base.html.twig" %}

{% block body %}

<body class="body">



    <div class="sign section--bg" data-bg="{{asset('img/section/section.jpg')}}">

        <section class="section section--border mt-5 ">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-10 mx-auto text-light">
                        
                            <h3>Thanks for your attempted order!</h3>
                       
                        <p>                        
                         We appreciate your business!
        Unfotunately your payment is not successful. please enter valid information or contact your bank.
                        </p>

                    </div>
                </div>
            </div>

        </section>
    </div>
</body>

{% endblock %}